
/*layout*/
footer ul{padding:30px 0}
footer ul li{padding:0 20px}
footer ul li a{font-size:16px}
footer address{padding:30px}

/*main*/
#main .bg{height:900px;background-size:cover}
#main>div>div{min-height:560px}
#main h2{padding-top:100px;font-size:36px}
#main h2:after{height:3px;margin:10px 0 20px}
#main dt{font-size:22px}

#main #main1>div{min-height:500px;max-height:900px}
#main1 h2{padding-top:160px;font-size:26px}
#main1 h2 b{font-size:40px}

@media screen and (max-width:800px){
	header{padding:0 30px}
	header p{top:10px}
	header p a{margin-left:20px}
	#main1 h2{font-size:24px}
	#main1 h2 b{font-size:38px}
	#main1 h3{font-size:18px}
	footer ul li{padding:0 15px}
	footer ul li a{font-size:15px;}

	#sub #visual h2{font-size:38px}
}